{
  "printWidth": 80,
  "tabWidth": 4,
  "indentSize": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "linebreakStyle": "unix",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "proseWrap": "preserve"
}